$orange: #ff8f5e;
$orange-1: #fdeee7;

$green: #65dbb0;
$green-1: #daf6ec;
$green-2: #f1fcf8;

$grey: #a7a7a7;
$grey-1: #f3f5f6;
$dark-grey: #2a2c34;

$white: #ffffff;

$red: #ff8383;

$blue: #0000ee;

$button-opacity: 0.9;
$button-click: 0.6;
